/* Your custom styles
         background-image: url('img/Skills/Laptop.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center center;

*/

html,
body,
header,
.jaralllax {
    height: 100%;
}


.blockquote{
    border-left-color: #1c2331 !important;
}

@media (min-width: 560px) and (max-width: 740px) {
    html,
    body,
    header,
    .jaralllax {
        height: 600%;
    } 
}

@media only screen and (max-width: 600px) {
    .mob_h {
        font-size: 40px;
    }
}